@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('/fonts/NEXONLv1GothicLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('/fonts/NEXONLv1GothicRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('/fonts/NEXONLv1GothicBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
